# --------------------------
# LO QUE SÍ SE SUBIRÁ (TODO LO IMPORTANTE)
# --------------------------
# Subimos todo lo que esté en el proyecto, menos lo que está abajo
*
# PERO NO SUBIMOS ESTAS COSAS QUE NO SIRVEN PARA NADA:
.idea/
*.iml
*.ipr
*.iws
out/
build/
*.class
.DS_Store
Thumbs.db